@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 343 47% 94%;
    --foreground: 343 30% 20%;
    --card: 343 50% 98%;
    --card-foreground: 343 30% 20%;
    --popover: 343 50% 98%;
    --popover-foreground: 343 30% 20%;
    --primary: 343 62% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 343 40% 88%;
    --secondary-foreground: 343 62% 52%;
    --muted: 343 30% 85%;
    --muted-foreground: 343 20% 40%;
    --accent: 201 60% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 343 30% 80%;
    --input: 343 30% 88%;
    --ring: 343 62% 52%;
    --chart-1: 343 62% 52%;
    --chart-2: 201 60% 64%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 343 10% 10%;
    --foreground: 343 10% 85%;
    --card: 343 10% 15%;
    --card-foreground: 343 10% 85%;
    --popover: 343 10% 15%;
    --popover-foreground: 343 10% 85%;
    --primary: 343 62% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 343 15% 25%;
    --secondary-foreground: 343 62% 70%;
    --muted: 343 15% 25%;
    --muted-foreground: 343 10% 60%;
    --accent: 201 60% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 343 15% 25%;
    --input: 343 15% 25%;
    --ring: 343 62% 62%;
    --chart-1: 343 62% 52%;
    --chart-2: 201 60% 64%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
